.game-container {
  text-align: center;
  background-color: #82c0cc;
  height: 100vh;
}

.title-logo-container {
  padding: 15px;
  display: flex;
  font-family: fantasy;
  flex-direction: column;
  align-items: center;
}
.title-logo {
  margin-top: 25px;
}
.game-title {
  display: flex;
  font-size: 45px;
}
.game-title-fish,
.header-title-fish {
  color: #16697a;
}
.game-title-bowl,
.header-title-bowl {
  color: #ffa62b;
}
.header {
  width: 100%;
  background-color: #489fb5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-title {
  display: flex;
  font-family: fantasy;
  font-weight: bold;
  font-size: 24px;
  margin-left: 10px;
}
.fb-game-btn {
  margin: 5px;
  padding: 2px;
  border-radius: 7px;
  width: 50%;
  color: #ede7e3;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 18px;
  background-color: #16697a;
  border-style: none;
}
.fb-game-btn:hover {
  background-color: #ffa62b;
  color: #16697a;
  cursor: pointer;
}
.fb-game-btn:focus {
  outline: 0;
}
.lighter-btn {
  background-color: #489fb5;
}
.modal-container,
.modal-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #82c0cc;
}
.create-room-modal,
.join-room-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.form-inputs input {
  margin: 5px;
  padding: 2px;
  width: 60%;
  font-family: sans-serif;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #16697a;
  background-color: #489fb5;
  color: #ede7e3;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}
.form-inputs input::placeholder {
  color: #ede7e3;
}
.form-inputs input:hover {
  background-color: #ffa62b;
}
.form-inputs input:focus {
  outline: 0;
  background-color: #ffa62b;
}
.game-input {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 55% 10% 25% 10%;
  justify-content: space-around;
  font-size: 20px;
  font-weight: bold;
  color: #16697a;
  width: 75%;
}
.input-label {
  padding-right: 24px;
}
.input-value {
  padding: 0px 10px;
  font-size: 32px;
  text-align: center;
}
.word-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.word-form-label,
.word-form-details {
  font-size: 20px;
  font-weight: 700;
  color: #16697a;
}
.icon-container {
  margin-top: 10px;
  text-align: center;
}
.input-error {
  font-size: 20px;
  font-weight: bold;
  color: #ffa62b;
}
.active-icon {
  cursor: pointer;
}

.waiting-room-greeting {
  margin: 15px;
  padding: 24px 0px;
  background-color: #16697a;
  color: #ede7e3;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 16px;
}
.player-list-label,
.game-controls-title {
  border-bottom: #ffa62b solid 4px;
  margin: 0 2em;
  padding-bottom: 1em;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.player-container,
.game-controls,
.game-room-sub-container,
.game-summary-notifications {
  margin: 15px;
  padding: 14px 0px;
  background-color: #16697a;
  color: #ede7e3;
  border-radius: 10px;
}
.player-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.player-list-item {
  padding-left: 1em;
  padding-bottom: 1em;
  display: flex;
  align-items: center;
}
.pl-username {
  margin-right: 5px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.pl-team-name {
  margin-right: 5px;
  font-family: sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.team-settings-container {
  margin-top: 10px;
}
.team-settings-header {
  border-bottom: #82c0cc solid 2px;
  margin: 1em 3em;
  padding-bottom: 1em;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.team-label {
  font-family: sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
.team-settings-list {
  list-style-type: none;
  border-top: #82c0cc solid 1px;
  padding-top: 1em;
}
.team-select {
  padding: 5px;
  font-family: sans-serif;
  border-radius: 10px;
  border-style: none;
  background-color: #489fb5;
  color: #ede7e3;
  font-weight: bold;
}
.team-select:focus {
  outline: 0;
}
.team-select option {
  font-weight: bold;
}
.teams-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.team-settings-li {
  display: flex;
  align-items: center;
}
.game-room-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.scoreboard-container {
  width: 95%;
  margin: 15px;
  background-color: #16697a;
  color: #ede7e3;
  border-radius: 10px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas: "title title" "teamOne teamTwo";
}
.scoreboard-title,
.game-details-header,
.game-summary-header {
  border-bottom: #82c0cc solid 2px;
  margin: 1em 3em;
  padding-bottom: 1em;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  grid-area: title;
}
.team-one-scores {
  grid-area: teamOne;
}
.team-two-scores {
  grid-area: teamTwo;
}
.team-score,
.details-div {
  font-size: 18px;
  font-weight: bold;
}
.team-scores-list {
  list-style-type: none;
}
.game-jitsi-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  align-items: center;
}
.sub-container {
  padding-top: 10px;
  flex: 2;
}
.game-room-sub-container {
  width: 95%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas: "title title" "details timer" "notifications notifications" "buttons buttons";
}
.game-details-container {
  grid-area: details;
}
.timer-container {
  grid-area: timer;
}
.turn-container,
.pause-btn-container {
  grid-area: buttons;
}
.pause-label {
  grid-area: notifications;
  margin: 10px 0px;
  font-size: 32px;
  font-weight: bold;
}
.turn-label {
  border-bottom: #82c0cc solid 2px;
  margin: 1em 4em;
  padding-bottom: 1em;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.current-word-label,
.time,
.timer-label {
  font-size: 28px;
  font-weight: bold;
}
.current-word {
  font-size: 32px;
  font-weight: bold;
  color: #ffa62b;
}
.winner-section {
  margin: 10px 0px;
  font-size: 32px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .form-inputs {
    width: 100%;
  }
}
